*{
    padding:0px;
    margin: 0px; 
    font-family: 'Montserrat', sans-serif;
}
.bg{
    min-height: 100vh;
    z-index: -1;
    background-image:url(cbn.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15vh;
  }  
.container-fluid{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    min-height: 100vh;
}
.login-box{
    padding: 30px 35px 45px 35px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255,255,255,.5);
    background-color: rgb(5, 0, 0, .5);
    min-width: 15%;
    min-height: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 45px;
    box-shadow: 14px 14px rgb(0,0,0,.75);
    align-items: center;
}
form {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 30vw;
    font-size:14px ;
}
#user, #pass {
    border-radius: 75px;
    align-self: stretch;
    font-size: 18px;
    text-align: center;
    padding: 6px 13px 2px 13px;
    background-color: rgb(248,149,52, .33);
    box-shadow: 2px 2px silver;
    color: lightblue;
    font-weight: bold;
}
#pass{
    margin-bottom:20px;   
}
#user{
    margin-bottom: 5px;
}
#user:hover, #pass:hover{
    box-shadow: 4px 4px azure;
    transform: scale(1.15);
}
#logo{
    display:flex;
    align-items: center;
    max-width: 20em;
    margin-bottom: 20px;
}
#logo:hover{
    transform: scale(1.15);
}
.forget{
    font-size:.75em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: 10px;
    font-family: 'Baloo 2', cursive;
}
#fu, #fp, #here {
    background-color: rgb(0,0,0,0);
    color:rgba(62, 129, 238, 0.677);
    border: none;
}
#fu:focus, #fp:focus, #here:focus{
    color: rgb(190, 89, 7);
    text-decoration: underline;
}
#fu:hover, #fp:hover, #here:hover{
    color:white;
}
#submit{
    margin-top: 5px;
    display:flex;
    max-width: fit-content;
    justify-content: center;
    align-self: center;
    padding: .5em 1em .5em 1em;
    border-radius: 100px;
    background-color: rgb(248,149,52, .66);
    color: lightblue;
    border: 10px black;
}
#submit:hover{
    background-color: rgb(253, 249, 249);
    color: #000;
}
#submit:active{
    color: rgb(248,149,52, .66);
    background-color: lightblue;

}
.create{
    font-family: 'Baloo 2', cursive;
    font-size: 1.05em;
    padding-top: 25px;
    color: rgb(128, 131, 131);
}
#here:hover{
    transform: scale(1.25);
}